@tailwind base;
@tailwind components;
@tailwind utilities;

.color {
  @apply text-[#222831];
}

.color1 {
  @apply text-[#00ADB5];
}
.darkcolor {
  @apply text-[#F4F6F7];
}

.shadow1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
